<%- include('partials/header') -%>

    <h1>Delete Blog Posts</h1>
    <% for (let i=0; i < posts.length; i++) { %>
        <div class="item">
            <div class="title-content">
                <h2>
                    <%= posts[i].title %>
                </h2>
                <p>
                    <%= posts[i].content.substring(0, 100) %> ...
                </p>
            </div>
            
            <form action="/delete" method="post">
                <button class="delete-button" type="submit" name="title" value="<%=posts[i].title%>">✕</button>
            </form>
        </div>
        <% } %>



            <%- include('partials/footer') -%>